Repository jp-liu/jp-mini-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint  --fix"],
  "*.md": ["prettier --write"]
}

🐛修复(compiler-core): 预留生成配置接口
  src/compiler-core/src/codegen.ts
Due: eslint --fix

✨特性(vue): 支持`template`
  .eslintignore
  .eslintrc.js
  example/compiler-base/index.html
  lib/jp-liu-mini-vue.cjs.js
  lib/jp-liu-mini-vue.esm.js
  src/index.ts
  src/runtime-core/component.ts
  src/runtime-core/index.ts
  src/runtime-core/renderer.ts
  src/runtime-core/vnode.ts
  src/shared/index.ts
  src/shared/toDisplayString.ts
Due: eslint --fix

🐛修复(compiler-core): genrateContext
  lib/jp-liu-mini-vue.cjs.js
  lib/jp-liu-mini-vue.esm.js
  src/compiler-core/src/codegen.ts
  src/compiler-core/src/transform.ts
Due: eslint --fix

💄格式: format
  .eslintrc.js
  example/compiler-base/index.html
  package.json
Due: eslint --fix

📝文档(vue): docs
  README.md
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

✨特性(reactivity): test: add test case
  src/reactivity/__tests__/effect.spec.ts
Due: eslint --fix

📝文档: docs
  .lintstagedrc.json
  README.md
Due: prettier --write

✨特性(reactivity): nested effect
  .eslintrc.js
  README.md
  src/reactivity/__tests__/effect.spec.ts
  src/reactivity/baseHandlers.ts
  src/reactivity/effect.ts
Due: eslint --fix, prettier --write

✨特性(reactivity): reactivity
  src/reactivity/__tests__/effect.spec.ts
  src/reactivity/baseHandlers.ts
  src/reactivity/effect.ts
  src/reactivity/ref.ts
  src/shared/index.ts
Due: eslint --fix

✨特性(reactivity): computed
  .eslintrc.js
  src/reactivity/__tests__/computed.spec.ts
  src/reactivity/computed.ts
  src/reactivity/ref.ts
  src/runtime-core/renderer.ts
Due: eslint --fix

🐛修复(reactivity): reactivity
  src/reactivity/baseHandlers.ts
Due: eslint --fix
